# eclipse setting
.settings

# MacOS directory files
.DS_Store

# cache dir
.cache/

# ESP-IDF default build directory name
build
build_esp*_*/
sdkconfig
sdkconfig.old
.devcontainer/*

.config
*.o
*.pyc

main/certs/*
main/certs/client.crt
main/certs/client.key
main/certificates

# VSCode
.vscode/*
sdkconfig.defaults